:root {
  --orange: #FF6D00;
  --gold: #FFB20D;
  --white: #FFFFFF;
  --white-sec: #F4F4F4;
  --black: #000000;
  --orange-sec: #FFE5D3;
  --beige: #FFDFBA;
  --royal-blue: #D6E4FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h-100vh {
  height: 100vh !important;
}

.input {
  display: block;
  width: 100%;
  background-color: var(--white);
  border: none;
  height: 40px;
  border-radius: 12px;
  color: var(--black);
  padding: 10px;
}

.input:focus {
  outline: #FFFFFF solid 2px;
}

.btn-gold {
  background-color: var(--gold);
  width: 100%;
  height: 40px;
  border-radius: 12px;
  color: var(--white);
}

.btn-gold:focus,
.btn-gold:hover {
  background-color: none;
  border: 2px solid var(--gold);
}

.btn-orange {
  background-color: var(--orange);
  height: 50px;
  border-radius: 12px;
  color: var(--white);
}

.btn-orange:focus,
.btn-orange:hover {
  background-color: none;
  border: 2px solid var(--orange);
  color: var(--orange);
}

.btn-orange-sec {
  background-color: var(--orange-sec);
  height: 50px;
  border-radius: 12px;
  color: var(--orange);
}

.btn-orange-sec:focus,
.btn-orange-sec:hover {
  background-color: none;
  border: 2px solid var(--orange-sec);
  color: var(--orange);
}

.bg-white-sec {
  background-color: var(--white-sec) !important;
}

.banner-top {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-menu {
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.15);
}

.dashboard-icon,
.person-icon,
.calendar-icon,
.chart-icon {
  background-color: rgba(0, 0, 0, 0.25);
  width: 22px;
}

.dashboard-icon {
  -webkit-mask: url("../public/icons/dashboard.svg") no-repeat center;
  mask: url('../public/icons/chart.svg') no-repeat center;
}

.person-icon {
  -webkit-mask: url("../public/icons/person.svg") no-repeat center;
  mask: url('../public/icons/chart.svg') no-repeat center;
}

.calendar-icon {
  -webkit-mask: url("../public/icons/calendar.svg") no-repeat center;
  mask: url('../public/icons/chart.svg') no-repeat center;
}

.chart-icon {
  -webkit-mask: url("../public/icons/chart.svg") no-repeat center;
  mask: url('../public/icons/chart.svg') no-repeat center;
}

.w-90 {
  width: 90px;
}

.bg-beige {
  background-color: var(--beige);
}

.bg-royal-blue {
  background-color: var(--royal-blue);
}

.mobile-padding {
  padding-top: 2em;
  margin-bottom: 4rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--orange);
  }
}