@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --orange: rgb(255, 109, 0);
  --gold: #FFB20D;
  --white: #FFFFFF;
  --white-sec: #F4F4F4;
  --black: #000000;
  --orange-sec: #FFE5D3;
  --beige: #FFDFBA;
  --royal-blue: #D6E4FF;
  --money-fill: rgba(52, 181, 58, 0.3);
  --money-stroke: #34B53A;
  --pix-fill: rgba(66, 57, 242, 0.3);
  --pix-stroke: #4339F2;
  --credit-fill: rgba(219, 2, 252, 0.3);
  --credit-stroke: #D902FC;
  --debit-fill: rgba(255, 59, 41, 0.3);
  --debit-stroke: #FF3A29;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
    color: black !important;
}

ul {
  padding: unset !important;
  list-style: none !important;
}
.min-w-160{
  min-width: 160px !important;
}
.bg-pix {
  background-color: var(--pix-stroke);
}

.bg-money {
  background-color: var(--money-stroke);
}
.bg-credit {
  background-color: var(--credit-stroke);
}
.bg-debit {
  background-color: var(--debit-stroke);
}

.react-datepicker__input-container > input{
  background-color: transparent;
  color: var(--orange);
  border: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  border: 1px solid var(--orange);
  border-radius: 10px;
  cursor: pointer;
}

.react-datepicker__input-container:hover > input{
  background-color: var(--orange);
  color: var(--white) !important;

}

.react-datepicker__header {
  background-color: var(--orange) !important;
}

.react-datepicker__header * {
  color: var(--white) !important;
  padding: 8px 16px;
}

.react-datepicker__week{
  display: flex;
  gap: 8px;
  justify-content: center;
}

.react-datepicker__day--selected{
  background-color: var(--orange) !important;
  border-radius: 50% !important;
}

.react-datepicker__day:hover{
  background-color: rgba(255, 109, 0, 0.2) !important;
  border-radius: 50% !important;
}

.scale-05{
  scale: 1;
  transition: .4s ease-in-out;
}

.scale-05:hover {
  scale: 1.05;
}

.mw-400 {
  max-width: 400px;
}

.mw-80{
  max-width: 80% !important;
}

.w-20 {
  width: 20%;
}

::-webkit-scrollbar {
  background-color: var(--white);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 10px;
}

.h-100vh {
  height: 100vh !important;
}

.input {
  display: block;
  width: 100%;
  background-color: var(--white);
  border: none;
  height: 40px;
  border-radius: 12px;
  color: var(--black);
  padding: 10px;
}

.input:focus {
  outline: #FFFFFF solid 2px;
}

.btn-gold {
  background-color: var(--gold);
  width: 100%;
  height: 40px;
  border-radius: 12px;
  color: var(--white);
}

.btn-gold:focus,
.btn-gold:hover {
  background-color: none;
  border: 2px solid var(--gold);
}

.btn-orange {
  background-color: var(--orange);
  height: 50px;
  border-radius: 12px;
  color: var(--white);
}

.btn-orange:focus,
.btn-orange:hover {
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
}

.btn-orange-outline {
  background-color: none;
  height: 50px;
  border-radius: 12px;
  border: 2px solid var(--orange);
  color: var(--orange);
}

.btn-orange-outline:focus,
.btn-orange-outline:hover {
  background-color: var(--orange);
  color: var(--white);
}

.btn-orange-sec {
  background-color: var(--orange-sec);
  height: 50px;
  border-radius: 12px;
  color: var(--orange);
}

.btn-orange-sec:focus,
.btn-orange-sec:hover {
  background-color: none;
  border: 2px solid var(--orange-sec);
  color: var(--orange);
}

.bg-white-sec {
  background-color: var(--white-sec) !important;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.bg-gold {
  background-color: var(--gold) !important;
}

.banner-top {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-menu {
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.15);
}

.fs-14 {
  font-size: 14px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.dashboard-icon,
.person-icon,
.calendar-icon,
.chart-icon,
.customer-icon {
  background-color: rgba(0, 0, 0, 0.25);
  width: 22px;
  height: 22px;
  display: block;
}

.settings-icon {
  background-color: var(--orange);
  width: 22px;
  height: 22px;
  transition: .4s ease-in;
  display: block;
}

.dashboard-icon {
  -webkit-mask: url("/icons/dashboard.svg") no-repeat center;
  mask: url('/icons/dashboard.svg') no-repeat center;
}

.person-icon {
  -webkit-mask: url("/icons/person.svg") no-repeat center;
  mask: url('/icons/person.svg') no-repeat center;
}

.calendar-icon {
  -webkit-mask: url("/icons/calendar.svg") no-repeat center;
  mask: url('/icons/calendar.svg') no-repeat center;
}

.chart-icon {
  -webkit-mask: url("/icons/chart.svg") no-repeat center;
  mask: url('/icons/chart.svg') no-repeat center;
}

.settings-icon {
  -webkit-mask: url("/icons/settings.svg") no-repeat center;
  mask: url('/icons/settings.svg') no-repeat center;
}

.customer-icon {
  -webkit-mask: url("/icons/dog.svg") no-repeat center;
  mask: url('/icons/dog.svg') no-repeat center;
}

.w-90 {
  width: 90px;
}

.bg-beige {
  background-color: var(--beige);
}

.bg-royal-blue {
  background-color: var(--royal-blue);
}

.mobile-padding {
  margin-bottom: 4rem;
}

.scale-01 {
  transform: scale(1.1);
}

.border-orange {
  border: 1px solid var(--orange);
}

.btn-setting {
  width: 220px;
}

.text-orange {
  color: var(--orange) !important;
}

.sidebar-menu {
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ps-6 {
  padding-left: 6rem;
}

.w-33 {
  width: 33% !important;
}

.finance-chart-bar {
  width: 50px;
  border-radius: 10px;
}

.time-chart-bar {
  background-color: #4339F2;
  width: 3em;
  border-radius: 2px;
}

.minh-400 {
  min-height: 400px;
}
.minh-260 {
  min-height: 260px;
}

.h-90 {
  height: 90%;
}

.chart-circular {
  stroke-width: 10px;
  stroke-dasharray: 630;
  stroke-linecap: round;
}

.chart-money {
  stroke: var(--money-stroke);
  fill: var(--money-fill);
  stroke-dashoffset: 630;
}

.chart-pix {
  stroke: var(--pix-stroke);
  fill: var(--pix-fill);
  stroke-dashoffset: 630;
}

.chart-credit {
  stroke: var(--credit-stroke);
  fill: var(--credit-fill);
  stroke-dashoffset: 630;
}

.chart-debit {
  stroke: var(--debit-stroke);
  fill: var(--debit-fill);
  stroke-dashoffset: 630;
}

.specialty-chart::-webkit-scrollbar {
  height: 8px;
}

.specialty-chart::-webkit-scrollbar-thumb {
  background-color: #929292;
}

.square-calendar {
  width: 200px;
  height: 150px;
}

.week-calendar {
  width: 150px;
  height: 400px;
}

.fit-content {
  width: fit-content;
}

.toast-card {
  z-index: 2;
  opacity: 0;
  width: 0;
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
  animation:
    showCard 1.2s ease-out forwards,
    hideCard 1s ease-out 3s forwards;
}

.toast-card p {

  font-size: 1em;
}

input::placeholder {
  opacity: 0.5 !important;
}

@keyframes showCard {
  to {
    opacity: 1;
    width: 500px;
  }
}

@keyframes hideCard {
  to {
    opacity: 0;
    width: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--white);
  }
}

@media (min-width: 772px) {
  .w-md-35 {
    width: 35%;
  }

}